## Numpy
* numerical python or numeric python
* numpy is a programming language thst deals with multi-dimensional arrays and matrices
* numpy supports a large number of mathematical operations

## Why use NumPy
* NumPy is memory efficiently,meaning it can handle the vast amount of data more accesible than any other library.
* especially for matrix multiplication and reshaping.
* On top of that ,NumPy is fast.In fact,TensorFlow and Scikit.

### how to install numpy
* numpy is installed by default in anaconda.

In [1]:
import numpy as np
print(np.__version__)

1.19.2

## Numpy Arrays

In [3]:
print(np.array([2,4,6,8]))

[2 4 6 8]

In [6]:
data=np.array([[2,4,6],[3,5,7]])
print(data)

[[2 4 6]
 [3 5 7]]

In [8]:
#matchematical operations
a1=np.array([3,5,6,7])
a2=np.array([1,2,3,4])
print(a1+a2)
print(a1-a2)
print(a1*a2)
print(a1/a2)
print(a1%a2)
print(a1**a2)

[ 4  7  9 11]
[2 3 3 3]
[ 3 10 18 28]
[3.   2.5  2.   1.75]
[0 1 0 3]
[   3   25  216 2401]

In [9]:
#shape of array
data=np.array([[1,2,3],[5,6,7]])

print(np.shape(data))
print(data.dtype)

(2, 3)
int32

In [15]:
#shape of float values
data1=np.array([[1.0,1.1,2.0],[3.0,4.8,6.7]])
print(np.shape(data))
print(data1.dtype)

(2, 3)
float64

In [14]:
data2=np.array([[1.0,1.1,2.0],[3.0,4.8]])
print(np.shape(data))
print(data1.dtype)

(2, 3)
float64

<ipython-input-14-385760e4f010>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  data2=np.array([[1.0,1.1,2.0],[3.0,4.8]])

In [18]:
# numpy zeros and numpy ones
# numpy zeros
np.zeros((3,2),dtype=str)     # int=0 ,float=0. ,str=" " and data type=<UL

array([['', ''],
       ['', ''],
       ['', '']], dtype='<U1')

In [19]:
np.ones((3,2),dtype=int)

array([[1, 1],
       [1, 1],
       [1, 1]])

In [20]:
# numpy reshape
n=np.array([[1,2,3],[4,5,6]])
print(n)
n.reshape((3,2))

[[1 2 3]
 [4 5 6]]

array([[1, 2],
       [3, 4],
       [5, 6]])

In [21]:
# numpy flatten
print(n)
n.flatten()

[[1 2 3]
 [4 5 6]]

array([1, 2, 3, 4, 5, 6])

In [22]:
#numpy hstack(data appened horizontally)
print(a1)
print(a2)
np.hstack((a1,a2))

[3 5 6 7]
[1 2 3 4]

array([3, 5, 6, 7, 1, 2, 3, 4])

In [27]:
# numpy vstack (data append vertically)
print(a1)
print(a2)
np.vstack((a1))    #a2    and a1,a2 will not accept by vstack

[3 5 6 7]
[1 2 3 4]

array([[3],
       [5],
       [6],
       [7]])

In [31]:
# to calculate mean
print(n)
n.mean()

[[1 2 3]
 [4 5 6]]

3.5

In [29]:
# to calculate standard deviation
print(n)
n.std()

[[1 2 3]
 [4 5 6]]

1.707825127659933

In [33]:
# to calculate median
print(n)
print(n.mean())
print(np.median(n))
print(np.mod(2,3))

[[1 2 3]
 [4 5 6]]
3.5
3.5
2

In [39]:
#generate random numbers
d=np.random.randint(1,50,(3,3))
d

array([[29,  1, 29],
       [13, 25, 22],
       [ 4, 26,  6]])

In [41]:
# np.random.normal(loc(mean),scale())
np.random.normal(5,4,10)

array([ 4.3510607 ,  6.23307483,  6.0356027 , 10.55415821,  4.73617047,
        5.03651563,  1.01171116,  2.82485223,  5.97983522,  4.99333589])

In [45]:
#numpy stastical funtions(min,max,mod,mean,standard deviation)
d.min()
d.max()
d.mean()
d.std()
np.median(d)

22.0

In [46]:
# TRANSPOSE
d.T

array([[29, 13,  4],
       [ 1, 25, 26],
       [29, 22,  6]])

In [51]:
# identity 
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [52]:
print(a1)
print(a2)
a1.dot(a2)

[3 5 6 7]
[1 2 3 4]

59

In [55]:
d1=np.array([1,2,3,4])
np.array([d1,pow(d1,3)])

array([[ 1,  2,  3,  4],
       [ 1,  8, 27, 64]])

In [58]:
#repeat
a=np.repeat([1,2,3,4],3)
a

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4])

In [59]:
#arrange funtion
#arange(start,stop,step)
np.arange(1,11,2)

array([1, 3, 5, 7, 9])

In [60]:
#numpy linspace(default=50)
#syntax---> linspace(start,stop,num,endpoint)
np.linspace(1,5,num=10)

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [61]:
np.linspace(1,5)

array([1.        , 1.08163265, 1.16326531, 1.24489796, 1.32653061,
       1.40816327, 1.48979592, 1.57142857, 1.65306122, 1.73469388,
       1.81632653, 1.89795918, 1.97959184, 2.06122449, 2.14285714,
       2.2244898 , 2.30612245, 2.3877551 , 2.46938776, 2.55102041,
       2.63265306, 2.71428571, 2.79591837, 2.87755102, 2.95918367,
       3.04081633, 3.12244898, 3.20408163, 3.28571429, 3.36734694,
       3.44897959, 3.53061224, 3.6122449 , 3.69387755, 3.7755102 ,
       3.85714286, 3.93877551, 4.02040816, 4.10204082, 4.18367347,
       4.26530612, 4.34693878, 4.42857143, 4.51020408, 4.59183673,
       4.67346939, 4.75510204, 4.83673469, 4.91836735, 5.        ])

In [ ]:
#indexing

## Pandas
* pandas is opensource library that allows to perform data manipulation (Series.DataFrames)
* Derived from PANel Data

## Why use Pandas
* to handle missing data
* Efficient way to slice the data
* flexible way to merge,concatenateand reshape data

## Data structures
* Series
* DataFrames

## Series
* it is one dimensional data

In [3]:
import pandas as pd
s = "python"
pd.Series(s,index=['a'])

a    python
dtype: object

In [4]:
import pandas as pd
s = "python"
pd.Series(s)

0    python
dtype: object

In [6]:
import pandas as pd
pd.Series([1,2,3],index=[1,2,3])

1    1
2    2
3    3
dtype: int64

In [13]:
d1=pd.Series(['jyothi','19','cse',1,2],index=[1,2,3,4,5])
d1

1    jyothi
2        19
3       cse
4         1
5         2
dtype: object

In [10]:
d1[:]

1    jyothi
2        19
3       cse
4         1
5         2
dtype: object

In [14]:
d1[0:3]

1    jyothi
2        19
3       cse
dtype: object

In [15]:
# syntax
l=[i**2 for i in range(1,10)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
#l=[i**2 for i in range(1,10)]
d1=pd.Series([i**2 for i in range(1,10)],index=[1,2,3,4,5,6,7,8,9])
d1

1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

In [21]:
d1={'name': 'jyothi','age': 19,'branch':'cse'}
s=pd.Series(d1)
s

name      jyothi
age           19
branch       cse
dtype: object

In [22]:
d1={'name': 'jyothi','age': 19,'branch':'cse'}
s=pd.Series(d1,index=['a','key2'])
s

a       NaN
key2    NaN
dtype: object

## DataFrame
* Two dimensional array

In [25]:
# using list 
import pandas as pd
d=[['jyothi','19','cse'],['harika','15','civil']]
d1=pd.DataFrame(d,columns=['Name','RollNumber','Branch'])                # without mentionaing columns then the columns is 0 1 2
d1

     Name RollNumber Branch
0  jyothi         19    cse
1  harika         15  civil

In [27]:
#using dictionary
d1={'Name':'jyothi','clg':'vlits','branch':'cse'}
d2={'Name':'harika','clg':'vlits','branch':'cse'}
d3={'Name':'amani','clg':'vlits','branch':'cse'}
s=pd.DataFrame([d1,d2,d3],index=['trainer name','college','Branch'])
s

                Name    clg branch
trainer name  jyothi  vlits    cse
college       harika  vlits    cse
Branch         amani  vlits    cse

In [29]:
# loc-----> to give index data
#iloc ----->to give index value
s.loc['college']

Name      harika
clg        vlits
branch       cse
Name: college, dtype: object

In [30]:
s.iloc[0]

Name      jyothi
clg        vlits
branch       cse
Name: trainer name, dtype: object

In [31]:
s.T

       trainer name college Branch
Name         jyothi  harika  amani
clg           vlits   vlits  vlits
branch          cse     cse    cse

In [32]:
s.T.loc['clg']

trainer name    vlits
college         vlits
Branch          vlits
Name: clg, dtype: object

In [34]:
s.T.iloc[0]

trainer name    jyothi
college         harika
Branch           amani
Name: Name, dtype: object